.searchResults, .searchColumn {
    border: 2px solid lightblue;
    margin: 10px;
    padding: 10px;
}

.searchColumn {
    background-color: #e9ecef;
    width: 20%;
}

.currentConditions {
    padding-bottom: 20px;
    border-bottom: 2px dashed gray;
    margin-bottom: 15px;
}

.forecast {
    margin-top: 15px;
}

.searchBar {
    margin-bottom: 20px;
}

#uv-low {
    background-color: #6da831;
}

#uv {
    background-color: #f7c305;
}

#uv-high {
    background-color: #f52d05;
}


