.searchResults, .searchColumn {
    border: 2px solid lightblue;
    margin: 10px;
    padding: 10px;
}

header, h4 {
    background-color: lightblue;
    margin: auto;
    text-align: center;
    padding: 20px;
    border-radius: 12px;
}

.searchColumn {
    background-color: lightblue;
    border-radius: 20px;

}

.currentConditions {
    padding-bottom: 20px;
    border-bottom: 2px dashed gray;
    margin-bottom: 15px;
}

.forecast {
    margin-top: 15px;
    

}

.searchBar {
    margin-bottom: 20px;
}

#uv-low {
    background-color: #6da831;
}

#uv {
    background-color: #f7c305;
}

#uv-high {
    background-color: #f52d05;
}

.col-lg-2 {
    background-color: lightblue;
    margin: auto;
    margin-top: 10px;
    padding-top: 10px;
    border-radius: 20px;
    align-items: center;
}

.psearch {
    background-color: white;
    display: block;
    margin: 10px;
    border:2px solid darkgrey;
    border-radius: 12px;

}

